In [2]:
import numpy as np
import pandas as pd

In [142]:
survey_year = '2018'
survey_type = 'Climate Change'
cities_df = pd.read_csv('Cities/Cities Responses/'+survey_year+'_Full_Cities_Dataset.csv')
cities_info_df = pd.read_csv('Cities/Cities Disclosing/'+survey_year+'_Cities_Disclosing_to_CDP.csv')
corps_cc_df = pd.read_csv('Corporations/Corporations Responses/'+survey_type+'/'+survey_year+'_Full_Climate_Change_Dataset.csv')
na_hq_df = pd.read_csv('Supplementary Data/Locations of Corporations/NA_HQ_public_data.csv')
corps_cc_info = pd.read_csv('Corporations/Corporations Disclosing/'+survey_type+'/'+survey_year+'_Corporates_Disclosing_to_CDP_Climate_Change.csv')
census_df = pd.read_csv('Supplementary Data/CDC 500 Cities Census Tract Data/500_Cities__Census_Tract-level_Data__GIS_Friendly_Format___2019_release.csv')
social_df = pd.read_csv('Supplementary Data/CDC Social Vulnerability Index 2018/SVI2018_US.csv')
social_county_df = pd.read_csv('Supplementary Data/CDC Social Vulnerability Index 2018/SVI2018_US_COUNTY.csv')
uscities_df = pd.read_csv('Supplementary Data/Simple Maps US Cities Data/uscities.csv')

In [70]:
cities_df.head()

,Questionnaire,Year Reported to CDP,Account Number,Organization,Country,CDP Region,Parent Section,Section,Question Number,Question Name,Column Number,Column Name,Row Number,Row Name,Response Answer,Comments,File Name,Last update
0,CDP Cities 2018,2018,3203,City of Chicago,United States of America,North America,Water,Wastewater,16.1,Please provide the percentage breakdown of the...,1,Percentage of wastewater collected,5,Other type of wastewater,NaN,NaN,NaN,24/06/2020 05:28:18 AM
1,CDP Cities 2018,2018,50555,City of Hamilton,Canada,North America,Climate Hazards,Climate Hazards,2.2a,Please list the most significant climate hazar...,5,Probability of hazard,4,NaN,Medium High,NaN,NaN,24/06/2020 05:28:18 AM
2,CDP Cities 2018,2018,50392,Prefeitura de Vitória,Brazil,Latin America,Emissions Reduction: City-wide,Emissions Reduction Actions : City-wide,8.4,What actions is your city taking to reduce emi...,1,Emissions reduction project activity,3,NaN,On-site renewable energy generation,NaN,NaN,24/06/2020 05:28:18 AM
3,CDP Cities 2018,2018,36522,Comune di Verbania,Italy,Europe,Strategy,Energy,9.0,Please indicate the energy mix of electricity ...,2,Gas,1,Energy consumption percentage,NaN,NaN,NaN,24/06/2020 05:28:18 AM
4,CDP Cities 2018,2018,35873,Municipality of Medellín,Colombia,Latin America,Climate Hazards,Climate Hazards,2.2a,Please list the most significant climate hazar...,3,Magnitude of impact,6,NaN,Serious,NaN,NaN,24/06/2020 05:28:18 AM

### Cleaning City Names

In [120]:
city_names_df = cities_info_df[['Account Number','City']]
city_names_df[city_names_df['City'] == 'Santiago']
city_names_df.loc[city_names_df['Account Number'] == 60393, 'City'] = 'Santiago Government'

/Users/Jenny/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

     Account Number                 City
355           60393  Santiago Government

<span style="color:red">To do: Look at other year surveys</span>

In [122]:
cities_df_clean = pd.merge(cities_df,city_names_df,how='left',on='Account Number')
cities_df_clean['Organization'] = cities_df_clean['City']
cities_df_clean.drop(labels='City', axis="columns", inplace=True)

### Loading Corporations Data

In [8]:
# adding headquarter location data
hq_data = na_hq_df[(na_hq_df['survey_year'] == survey_year) & (na_hq_df['theme'] == survey_type)]
hq_data = hq_data[['account_number','hq_country','address_city','address_state','address_lat','adress_long']]
hq_data = hq_data.rename(columns={'address_city':'hq_city','address_state':'hq_state','address_lat':'hq_lat','adress_long':'hq_long'})
corps_cc_cities = pd.merge(corps_cc_df, hq_data, how='left', on='account_number')

# adding industry data
corps_cc_info = corps_cc_info[['account_number','activities','sectors','industries','primary_activity','primary_sector','primary_industry','primary_questionnaire_sector']]
corps_cc_full = pd.merge(corps_cc_cities, corps_cc_info, how='left', on='account_number')
corps_cc_full.head()

/Users/Jenny/opt/anaconda3/lib/python3.8/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

,account_number,organization,survey_year,response_received_date,accounting_period_to,ors_response_id,submission_date,page_name,module_name,question_number,...,hq_state,hq_lat,hq_long,activities,sectors,industries,primary_activity,primary_sector,primary_industry,primary_questionnaire_sector
0,912,Archer Daniels Midland,2018,2018-09-04T00:00:00Z,NaN,13370,2018-10-24T16:36:50Z,C0.2,C0. Introduction,C0.2,...,NaN,NaN,NaN,"Agricultural products wholesale, Banks, Biofu...","Chemicals, Financial services, Food & beverag...","Food, beverage & agriculture, Materials, Reta...",Oilseed processing,Food & beverage processing,"Food, beverage & agriculture","Food, beverage & tobacco"
1,912,Archer Daniels Midland,2018,2018-09-04T00:00:00Z,NaN,13370,2018-10-24T16:36:50Z,C0.4,C0. Introduction,C0.4,...,NaN,NaN,NaN,"Agricultural products wholesale, Banks, Biofu...","Chemicals, Financial services, Food & beverag...","Food, beverage & agriculture, Materials, Reta...",Oilseed processing,Food & beverage processing,"Food, beverage & agriculture","Food, beverage & tobacco"
2,912,Archer Daniels Midland,2018,2018-09-04T00:00:00Z,NaN,13370,2018-10-24T16:36:50Z,C0.2,C0. Introduction,C0.2,...,NaN,NaN,NaN,"Agricultural products wholesale, Banks, Biofu...","Chemicals, Financial services, Food & beverag...","Food, beverage & agriculture, Materials, Reta...",Oilseed processing,Food & beverage processing,"Food, beverage & agriculture","Food, beverage & tobacco"
3,912,Archer Daniels Midland,2018,2018-09-04T00:00:00Z,NaN,13370,2018-10-24T16:36:50Z,C0.3,C0. Introduction,C0.3,...,NaN,NaN,NaN,"Agricultural products wholesale, Banks, Biofu...","Chemicals, Financial services, Food & beverag...","Food, beverage & agriculture, Materials, Reta...",Oilseed processing,Food & beverage processing,"Food, beverage & agriculture","Food, beverage & tobacco"
4,912,Archer Daniels Midland,2018,2018-09-04T00:00:00Z,NaN,13370,2018-10-24T16:36:50Z,C0.5,C0. Introduction,C0.5,...,NaN,NaN,NaN,"Agricultural products wholesale, Banks, Biofu...","Chemicals, Financial services, Food & beverag...","Food, beverage & agriculture, Materials, Reta...",Oilseed processing,Food & beverage processing,"Food, beverage & agriculture","Food, beverage & tobacco"

### Loading Census & Social Data

In [143]:
census_df.PlaceName.unique().tolist()
social_df.head()
social_county_df.head(30)
uscities_df.head(30)

## TO DO -> map social vulnerability census county data to cities

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,New York,New York,NY,New York,36061,New York,40.6943,-73.9249,18713220.0,10715.0,polygon,False,True,America/New_York,1,11229 11226 11225 11224 11222 11221 11220 1138...,1840034016
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34.1139,-118.4068,12750807.0,3276.0,polygon,False,True,America/Los_Angeles,1,90291 90293 90292 91316 91311 90037 90031 9000...,1840020491
2,Chicago,Chicago,IL,Illinois,17031,Cook,41.8373,-87.6862,8604203.0,4574.0,polygon,False,True,America/Chicago,1,60018 60649 60641 60640 60643 60642 60645 6064...,1840000494
3,Miami,Miami,FL,Florida,12086,Miami-Dade,25.7839,-80.2102,6445545.0,5019.0,polygon,False,True,America/New_York,1,33129 33125 33126 33127 33128 33149 33144 3314...,1840015149
4,Dallas,Dallas,TX,Texas,48113,Dallas,32.7936,-96.7662,5743938.0,1526.0,polygon,False,True,America/Chicago,1,75287 75098 75233 75254 75251 75252 75253 7503...,1840019440
5,Philadelphia,Philadelphia,PA,Pennsylvania,42101,Philadelphia,40.0077,-75.1339,5649300.0,4554.0,polygon,False,True,America/New_York,1,19154 19151 19150 19153 19152 19102 19103 1910...,1840000673
6,Houston,Houston,TX,Texas,48201,Harris,29.7863,-95.3889,5464251.0,1399.0,polygon,False,True,America/Chicago,1,77069 77068 77061 77060 77063 77062 77065 7706...,1840020925
7,Atlanta,Atlanta,GA,Georgia,13121,Fulton,33.7627,-84.4224,5449398.0,1441.0,polygon,False,True,America/New_York,1,30334 30331 30332 30309 30308 30305 30307 3030...,1840013660
8,Washington,Washington,DC,District of Columbia,11001,District of Columbia,38.9047,-77.0163,5379184.0,4457.0,polygon,False,True,America/New_York,1,20010 20011 20012 20015 20228 20520 20307 2041...,1840006060
9,Boston,Boston,MA,Massachusetts,25025,Suffolk,42.3188,-71.0846,4688346.0,5532.0,polygon,False,True,America/New_York,1,02120 02121 02122 02124 02125 02126 02127 0212...,1840000455
10,Phoenix,Phoenix,AZ,Arizona,4013,Maricopa,33.5722,-112.0891,4219697.0,1253.0,polygon,False,True,America/Phoenix,1,85008 85009 85006 85007 85004 85083 85086 8508...,1840020568
11,Seattle,Seattle,WA,Washington,53033,King,47.6211,-122.3244,3789215.0,3469.0,polygon,False,True,America/Los_Angeles,1,98109 98108 98104 98107 98106 98101 98103 9810...,1840021117
12,San Francisco,San Francisco,CA,California,6075,San Francisco,37.7562,-122.4430,3592294.0,7256.0,polygon,False,True,America/Los_Angeles,1,94130 94131 94132 94133 94134 94109 94108 9410...,1840021543
13,Detroit,Detroit,MI,Michigan,26163,Wayne,42.3834,-83.1024,3506126.0,1864.0,polygon,False,True,America/Detroit,1,48209 48208 48201 48207 48205 48204 48203 4820...,1840003971
14,San Diego,San Diego,CA,California,6073,San Diego,32.8312,-117.1225,3220118.0,1686.0,polygon,False,True,America/Los_Angeles,1,92109 92108 92103 92111 92154 92110 92115 9214...,1840021990
15,Minneapolis,Minneapolis,MN,Minnesota,27053,Hennepin,44.9635,-93.2678,2977172.0,3071.0,polygon,False,True,America/Chicago,1,55403 55409 55408 55407 55406 55405 55404 5540...,1840007830
16,Tampa,Tampa,FL,Florida,12057,Hillsborough,27.9942,-82.4451,2908063.0,1353.0,polygon,False,True,America/New_York,1,33637 33629 33621 33620 33619 33616 33613 3361...,1840015982
17,Denver,Denver,CO,Colorado,8031,Denver,39.7621,-104.8759,2876625.0,1831.0,polygon,False,True,America/Denver,1,80264 80230 80231 80236 80237 80235 80238 8023...,1840018789
18,Brooklyn,Brooklyn,NY,New York,36047,Kings,40.6501,-73.9496,2559903.0,14221.0,polygon,False,True,America/New_York,1,11212 11213 11216 11233 11238 11209 11214 1122...,1840034030
19,Queens,Queens,NY,New York,36081,Queens,40.7498,-73.7976,2230722.0,7885.0,polygon,False,True,America/New_York,1,11361 11362 11363 11364 11354 11355 11356 1135...,1840034002
20,Riverside,Riverside,CA,California,6065,Riverside,33.9381,-117.3948,2107852.0,1574.0,polygon,False,True,America/Los_Angeles,1,92508 92503 92501 92505 92504 92507 92506 9250...,1840020551
21,Baltimore,Baltimore,MD,Maryland,24510,Baltimore,39.3051,-76.6144,2106068.0,2830.0,polygon,False,True,America/New_York,1,21218 21211 21210 21213 21212 21215 21214 2121...,1840001592
22,Las Vegas,Las Vegas,NV,Nevada,32003,Clark,36.2333,-115.2654,2104198.0,1773.0,polygon,False,True,America/Los_Angeles,1,89107 89106 89104 89102 89101 89108 89138 8913...,1840020364
23,Portland,Portland,OR,Oregon,41051,Multnomah,45.5372,-122.6500,2074775.0,1894.0,polygon,False,True,America/Los_Angeles,1,97227 97221 97220 97229 97203 97202 97201 9720...,1840019941
24,San Antonio,San Antonio,TX,Texas,48029,Bexar,29.4658,-98.5253,2049293.0,1231.0,polygon,False,True,America/Chicago,1,78112 78259 78258 78252 78251 78250 78257 7825...,1840022220
25,St. Louis,St. Louis,MO,Missouri,29510,St. Louis,38.6358,-90.2451,2024074.0,1879.0,polygon,False,True,America/Chicago,1,63110 63111 63112 63113 63115 63116 63118 6312...,1840001651
26,Sacramento,Sacramento,CA,California,6067,Sacramento,38.5667,-121.4683,1898019.0,2029.0,polygon,False,True,America/Los_Angeles,1,95820 95838 95832 95833 95831 95834 95835 9581...,1840021491
27,Orlando,Orlando,FL,Florida,12095,Orange,28.4772,-81.3369,1822394.0,1003.0,polygon,False,True,America/New_York,1,32829 32827 32824 32822 32804 32805 32806 3280...,1840015099
28,San Jose,San Jose,CA,California,6085,Santa Clara,37.3019,-121.8486,1798103.0,2218.0,polygon,False,True,America/Los_Angeles,1,95118 95128 95124 95125 95123 95008 95002 9511...,1840021570
29,Cleveland,Cleveland,OH,Ohio,39035,Cuyahoga,41.4767,-81.6804,1710093.0,1893.0,polygon,False,True,America/New_York,1,44135 44128 44119 44113 44112 44111 44110 4411...,1840000596

### Characterstics of Each City

In [128]:
intro_questions = ('0.1','0.3','0.5','0.6','0.7','0.8')

intro_df = cities_df_clean[(cities_df_clean['Question Number'].isin(intro_questions))][['Organization','Column Name','Response Answer']]
intro_df = intro_df.pivot(index='Organization', columns='Column Name', values='Response Answer')

cities_desc_df = cities_df_clean[(cities_df_clean['Question Number'] == '0.1') & (cities_df_clean['Column Number'] == 1)].sort_values('Country')[['Organization','Country','CDP Region']]

pd.merge(cities_desc_df,intro_df,how='left',on='Organization').sort_values('Country')

,Organization,Country,CDP Region,Administrative boundary,Annual operating budget,Average altitude (m),Average annual temperature (in Celsius),Budget year end,Budget year start,Current population,...,Land area (in square km),Latitude (e.g. 41.25),Leader name,Leader title,Longitude (e.g. -120.9762),Projected population,Projected population year,Source,Total time in office (years),Year of GDP
0,San Isidro (Argentina),Argentina,Latin America,City / Municipality,5998952920,20,18,2018-12-31,2018-01-01,292.878,...,50,34.28,Gustavo Posse,Intendente Municipal,58.21,300000,2020,NaN,20,NaN
1,Ataliva,Argentina,Latin America,Other: Pueblo,24000,89,18.6,2018-12-31,2018-01-01,2500,...,155,31,Fábio Ssnchez,Presidente Comunal,61,3000,2020,NaN,11,NaN
2,Mendoza,Argentina,Latin America,City / Municipality,2200000,NaN,24,2018-12-31,2018-01-01,115041,...,106.07,-32.89084,Rodolfo Alejandro Suárez,Intendente Muncipal,68.82717,119.45,2018,DEIE,4,2015
3,Vicente López,Argentina,Latin America,City / Municipality,4354985.553,11,16.6,2017-12-31,2017-01-01,270929,...,34.45,58.483333,Jorge Macri,Intendente,-34.516667,260000,2018,NaN,8,NaN
4,Rio Grande,Argentina,Latin America,City / Municipality,63335000000,18,6,2017-12-31,2017-01-01,84246,...,12181,-27.18333,Gustavo Melella,Intendente,-67.35,91002,2020,"Dato estimado a partir de datos del: INDEC, Se...",8,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,"Dublin, CA",United States of America,North America,City / Municipality,109400000,111,14.7,2019-06-30,2018-07-01,63241,...,15.23,37.7,David Haubert,Mayor,-121.93,75000,2025,Bureau of Economic Analysis (regional data for...,4,2016
484,Ho Chi Minh,Viet Nam,Southeast Asia and Oceania,Special city,NaN,6,26,NaN,NaN,8611000,...,2095,10.75,Nguyen Thanh Phong,Chairman,106.6667,9200000,2020,PSO,NaN,2017
486,Kasama,Zambia,Africa,City / Municipality,34800000,NaN,24,2018-12-31,2018-02-01,350000,...,10000,NaN,Frederick chisanga kabwr,Mayor,NaN,500000,2020,NaN,5,NaN
485,Mazabuka,Zambia,Africa,City / Municipality,24996530,1200,22.3,2019-12-31,2017-01-01,182205,...,2726,NaN,Vincent Lilanda,Mayor,NaN,189593,2020,NaN,5,NaN
487,Harare,Zimbabwe,Africa,Local government area within a city / metropol...,345,1500,18,2017-12-31,2017-01-01,2424420,...,NaN,NaN,Bernard Manyenyeni,His Worship,NaN,2587005,2020,World bank,5,NaN

In [129]:
cities_base_df = cities_df_clean[['Organization','Country','CDP Region']]
cities_desc_df = cities_df_clean[(cities_df['Question Number'] == '0.1') & (cities_df_clean['Column Number'] == 1)].sort_values('Country')[['Organization','Country','CDP Region','Response Answer']]
cities_desc_df = cities_desc_df.rename(columns={'Organization':'City','Response Answer':'Administrative Boundary'})

In [134]:
#count number of cities by country
cities_desc_df[['City','Country']].groupby('Country').count().sort_values('City',ascending=False).head(20)

#see which cities are in the census data
cities_desc_df[cities_desc_df['City'].isin(census_df.PlaceName.unique().tolist())][['City','Country']].groupby('Country').count()

                                                    City
Country
Canada                                                 2
Greece                                                 1
Italy                                                  1
United Kingdom of Great Britain and Northern Ir...     2
United States of America                              75

### Section 1 - Governance

In [11]:
# 1.4 Does your city incorporate sustainability goals and targets (e.g. GHG reductions) into the master planning for the city?
cities_df[(cities_df['Question Number'] == '1.4')][['Organization','Response Answer']].groupby('Response Answer').count().sort_values('Organization',ascending=False)

                                  Organization
Response Answer
Yes                                        300
In progress                                 49
No                                          48
Intending to undertake in future            39
Do not know                                  6

In [12]:
# 1.4a Please detail which goals and targets are incorporated in your city’s master plan and describe how these goals are addressed in the table below.
# looking at count of goal types
cities_df[(cities_df['Question Number'] == '1.4a') & (cities_df['Column Number'] == 1)][['Organization','Response Answer']].groupby('Response Answer').count().sort_values('Organization',ascending=False)

                                                Organization
Response Answer
Emissions reduction targets                              212
Adaptation targets                                       124
Renewable energy targets                                 111
Energy efficiency targets                                107
Other                                                      8
...                                                      ...
Other: Leadership                                          1
Other: Increase Alternative Transportation Use             1
Other: Improve quality of life and open spaces             1
Other: Improve neighborhood walkability                    1
Other: Other specify                                       1

[115 rows x 1 columns]

In [13]:
cities_df_1_4a = cities_df[cities_df['Question Number'] == '1.4a']
cities_df_1_4a = cities_df_1_4a[cities_df_1_4a['Response Answer'].notnull()]

cities_df_1_4a.pivot_table(index=['Account Number', 'Organization', 'Row Number'],
                                     columns='Column Name', 
                                     values='Response Answer',
                                     aggfunc=lambda x: ' '.join(x)).reset_index()

Column Name,Account Number,Organization,Row Number,Goal type,How are these goals/targets addressed in the master plan?
0,1093,City of Atlanta,1,Renewable energy targets,To tackle the serious consequences of burning ...
1,1093,City of Atlanta,2,Energy efficiency targets,The City of Atlanta has set targets to reduce ...
2,1093,City of Atlanta,3,Emissions reduction targets,The City of Atlanta has set targets to reduce ...
3,1184,City of Austin,1,Emissions reduction targets,CE P10. Improve the air quality and reducegree...
4,1184,City of Austin,2,Energy efficiency targets,HN P9. Renovate the existing housing stockto r...
...,...,...,...,...,...
681,826407,Munícipio de Mirandela,2,Renewable energy targets,Está a ser estudada a viabilidade de implement...
682,826407,Munícipio de Mirandela,3,Energy efficiency targets,Implementação de medidas de eficiência energét...
683,831812,Municipalidad de Puerto Barrios,1,Adaptation targets,En las nuevas construcciones se toma en cuenta...
684,832009,Ayuntamiento de Xalapa,1,Emissions reduction targets,De acuerdo con el análisis y los registros his...
685,832009,Ayuntamiento de Xalapa,2,Adaptation targets,Por cuanto hace a las medidas para incrementar...

<span style="color:red">Potentially use term freqency dictionary to pull out common ways cities plan on addressing goals>

### Section 2 - Hazards and Adaptation

In [14]:
#2.0 Has a climate change risk or vulnerability assessment been undertaken for your local government area?
# looking at how many cities answered yes, no, in progress etc. 
cities_df[(cities_df['Question Number'] == '2.0')][['Organization','Response Answer']].groupby('Response Answer').count().sort_values('Organization',ascending=False)

                                  Organization
Response Answer
Yes                                        244
No                                         103
In progress                                 82
Intending to undertake in future            36
Do not know                                  4

In [15]:
# 2.2a Please list the most significant climate hazards faced by your city and indicate the probability and consequence of these hazards, as well as the expected future change in frequency and intensity. 
# Please also select the top 3 assets or services that are affected by the climate hazard, and provide a description of the impact.

cities_df_2_2a = cities_df[cities_df['Question Number'] == '2.2a']
cities_df_2_2a = cities_df_2_2a[cities_df_2_2a['Response Answer'].notnull()]

cities_df_2_2a.pivot_table(index=['Account Number', 'Organization', 'Row Number'],
                                     columns='Column Name', 
                                     values='Response Answer',
                                     aggfunc=lambda x: ' '.join(x)).reset_index()

Column Name,Account Number,Organization,Row Number,Anticipated timescale,Climate Hazards,Consequence of hazard,Future change in frequency,Future change in intensity,Hazard status,Impact description,Magnitude of impact,Probability of hazard,Top three assets/ services affected
0,1093,City of Atlanta,1,Medium-term,Drought,High,Increasing,Increasing,Expected to affect the city in the future,Droughts can affect the supply of potable wate...,Extremely serious,High,Food & agriculture Emergency management Water ...
1,1093,City of Atlanta,2,Short-term,Heat wave,High,Increasing,Increasing,Expected to affect the city in the future,Around 200 people die in the City of Atlanta a...,Extremely serious,High,Public health Emergency management Energy
2,1093,City of Atlanta,3,Short-term,Rain storm,High,Increasing,Increasing,Currently affecting the city,Rain storms causes floods in the city overload...,Extremely serious,High,Public health Water supply & sanitation Emerge...
3,1093,City of Atlanta,4,Long-term,Extreme hot days,Medium,Increasing,Increasing,Expected to affect the city in the future,Extreme hot days overload the electrical syste...,Serious,Medium,Emergency management Energy Public health
4,1093,City of Atlanta,5,Long-term,Tornado,Low,Increasing,Increasing,Expected to affect the city in the future,Tornadoes have been known to disrupt power lin...,Serious,Low,Energy Emergency management Information & comm...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1963,830945,Prefeitura Municipal de Juruena,5,Short-term,Water-borne disease,Medium High,Decreasing,Decreasing,Currently affecting the city,NaN,Serious,Medium High,Water supply & sanitation Food & agriculture P...
1964,831812,Municipalidad de Puerto Barrios,1,Short-term,Tropical storm,Medium,Decreasing,Decreasing,Currently affecting the city,NaN,Less serious,Medium,Water supply & sanitation Food & agriculture E...
1965,831834,CIOESTE,1,Medium-term,Rain storm,Medium High,Increasing,Increasing,Expected to affect the city in the future,"Probabilidade de enchentes, deslizamentos de t...",Serious,Medium,Environment Residential Water supply & sanitation
1966,832009,Ayuntamiento de Xalapa,1,Short-term,Flash/surface flood,Low,Increasing,None,Currently affecting the city,Las inundaciones que se producen son en ocasio...,Less serious,Low,Residential Law & order Public health
1967,832009,Ayuntamiento de Xalapa,2,Medium-term,Landslide,Low,Increasing,None,Currently affecting the city,El cálculo de los daños asociados a deslizamie...,Less serious,Low,Residential Public health

<span style="color:red">Great question to create some variables here, example could be combining low elevation coastal areas with cities that mentioned drought as a high probability occurance</span>

In [16]:
# 2.2a Please list the most significant climate hazards faced by your city and indicate the probability and consequence of these hazards, as well as the expected future change in frequency and intensity. 
# Please also select the top 3 assets or services that are affected by the climate hazard, and provide a description of the impact.

count_frame = cities_df[(cities_df['Question Number'] == '2.2a') & (cities_df['Row Number'] == 1) & (cities_df['Column Number'] == 1)].groupby('Response Answer').count()
count_frame[['Organization']].sort_values('Organization',ascending=False)

                                Organization
Response Answer
Rain storm                                90
Heat wave                                 61
Drought                                   45
Flash/surface flood                       40
Extreme hot days                          33
River flood                               26
Coastal flood                             25
Cyclone (Hurricane/Typhoon)               13
Severe wind                               11
Forest fire                                9
Land fire                                  8
Groundwater flood                          6
Hail                                       6
Heavy snow                                 5
Storm surge                                4
Atmospheric CO2 concentrations             4
Extreme cold days                          3
Rockfall                                   3
Extreme winter conditions                  3
Vector-borne disease                       2
Salt water intrusion                       2
Air-borne disease                          2
Landslide                                  2
Extratropical storm                        2
Water-borne disease                        2
Monsoon                                    1
Lightning / thunderstorm                   1
Insect infestation                         1
Cold wave                                  1
Tropical storm                             1
Avalanche                                  1

In [17]:
# 2.2a Please list the most significant climate hazards faced by your city and indicate the probability and consequence of these hazards, as well as the expected future change in frequency and intensity. 
# Please also select the top 3 assets or services that are affected by the climate hazard, and provide a description of the impact.

cities_df[(cities_df['Question Number'] == '2.2a') & (cities_df['Column Number'] == 9)][['Organization','Response Answer']].groupby('Response Answer').count().sort_values('Organization',ascending=False)

                                         Organization
Response Answer
Public health                                     633
Residential                                       563
Water supply & sanitation                         494
Environment                                       480
Transport                                         480
Emergency management                              401
Energy                                            334
Food & agriculture                                299
Commercial                                        260
Community & culture                               146
Other                                              84
Waste management                                   65
Industrial                                         60
Information & communications technology            51
Education                                          34
Law & order                                        17

In [18]:
#2.4 Please identify the factors that most greatly affect your city’s ability to adapt to climate change, and indicate how those factors either enhance or challenge this ability.

cities_df_2_4 = cities_df[cities_df['Question Number'] == '2.4']
cities_df_2_4 = cities_df_2_4[cities_df_2_4['Response Answer'].notnull()]

cities_df_2_4_wide = cities_df_2_4.pivot_table(index=['Account Number', 'Organization', 'Row Number'],
                                     columns='Column Name', 
                                     values='Response Answer',
                                     aggfunc=lambda x: ' '.join(x)).reset_index()
cities_df_2_4_wide

Column Name,Account Number,Organization,Row Number,Description,Enhance/ Challenge,Factors that affect ability to adapt
0,1093,City of Atlanta,1,Both the City and region have experienced sig...,Challenge,Rapid urbanization
1,1093,City of Atlanta,2,The City of Atlanta accounts for 59 percent of...,Challenge,Inequality
2,1093,City of Atlanta,3,Atlanta’s economy and housing market was hit ...,Challenge,Housing
3,1093,City of Atlanta,4,"In the past, Atlanta has normally experienced ...",Challenge,Environmental conditions
4,1093,City of Atlanta,5,"In 2014, the American Society of Civil Enginee...",Challenge,Infrastructure capacity
...,...,...,...,...,...,...
1096,831834,CIOESTE,1,Obtenção de financiamento para a remoção de co...,Challenge,Inequality
1097,831834,CIOESTE,2,"Melhorar a infra-estrutura de bairros, efetuar...",Challenge,Inequality
1098,831834,CIOESTE,3,Criar na comunidade um senso de participação a...,Challenge,Inequality
1099,831834,CIOESTE,4,Idem acima.,Challenge,Inequality
1100,832009,Ayuntamiento de Xalapa,1,La desigualdad propicia que la información rel...,Challenge,Inequality

In [19]:
#2.4 Please identify the factors that most greatly affect your city’s ability to adapt to climate change, and indicate how those factors either enhance or challenge this ability.

cities_df_2_4_wide[cities_df_2_4_wide['Enhance/ Challenge'] == 'Challenge'][['Organization','Factors that affect ability to adapt']].groupby('Factors that affect ability to adapt').count().sort_values('Organization',ascending=False)

Column Name                                      Organization
Factors that affect ability to adapt
Budgetary capacity                                         74
Poverty                                                    54
Infrastructure conditions / maintenance                    51
Housing                                                    48
Resource availability                                      42
Inequality                                                 41
Cost of living                                             40
Environmental conditions                                   39
Government capacity                                        39
Access to basic services                                   37
Land use planning                                          30
Rapid urbanization                                         29
Public health                                              26
Infrastructure capacity                                    24
Access to quality / relevant data                          21
Community engagement                                       17
Access to healthcare                                       16
Unemployment                                               14
Migration                                                  11
Economic health                                             9
Political stability                                         9
Economic diversity                                          8
Political engagement / transparency                         8
Access to education                                         7
Safety and security                                         5
Other: Ageing population                                    1
Other: Technical                                            1
Other                                                       1
Other: Transportation                                       1
Other: Situação Político-Econimica desfavorável             1
Other: Scattered population                                 1
Other: Population aging                                     1
Other: Local Government Autonomy                            1
Other: Legal barriers                                       1
Other: Legacy of inequitable public policy                  1
Other: Historic Buildings                                   1
Other: Groundwaterlevel                                     1
Other: Building Code & Other Code Requirements              1
Other: Aspectos tecnológicos                                1

<span style="color:red">Similar to 2.2a, great question for variables, perhaps combining low income cities in comparison to country mean with ones that marked poverty or inequality as a challenge factor; also look into consumerism habits of people that are not in poverty; what level of income / spending promotes environmentalism vs consumerism</span>

### Section 4 - Social Risks

In [20]:
# 4.0 Does your city face any social risks as a result of climate change?
cities_df[(cities_df['Question Number'] == '4.0') & (cities_df['Response Answer'] == 'Yes')][['Organization']].count()

Organization    346
dtype: int64

In [21]:
# 4.0a Please complete the table below to indicate which social risks your city faces as a result of climate change and indicate if these risks have been covered by your city’s action plan.
# looking at most common social risks
cities_df[(cities_df['Question Number'] == '4.0a') & (cities_df['Column Number'] == 1)][['Organization','Response Answer']].groupby('Response Answer').count().sort_values('Organization',ascending=False)

                                                    Organization
Response Answer
Increased risk to already vulnerable populations             211
Increased demand for public services (including...           170
Increased incidence and prevalence of disease                126
Increased resource demand                                     87
Fluctuating socio-economic conditions                         85
Population displacement                                       65
Migration from rural areas to cities                          47
Loss of traditional jobs                                      38
Increased conflict and/or crime                               34
Other                                                          5
Other: Inundacion                                              1
Other: 水害の増加                                                   1
Other: qualidade de vida                                       1
Other: muertes problema de salud publica                       1
Other: Unprotected population                                  1
Other: Sobrepoblación                                          1
Other: Remocion en masa                                        1
Other: Prejuízos na Prestação de Serviços Aerop                1
Other: Pacific Island Climate Refuges                          1
Other: Oferta de recurso hídrico                               1
Other: Many of above                                           1
Other: Low energy efficiency of the buildings                  1
Other: In-migration from Miami-Dade and Broward                1
Other: Incendios forestales                                    1
Other: Historical racial trauma                                1
Other: Heat Stress                                             1
Other: Food Deserts                                            1
Other: Energy Supply                                           1
Other: Destruição Parcial ou Total de Bens                     1
Other: Decreasing of Turism-lost of jobs                       1
Other: Decreased use of sporting facilites                     1
Other: Decreased access to recreation                          1
Other: All of the social risks identified apply                1
Other: Air Quality/Lung Health                                 1
Other: Food Insecurity                                         1

<span style="color:red">This could also be combined with a variety of other 'disadvantaged groups' variables</span>

### Opportunities

In [22]:
# 5.0a Please indicate the opportunities and describe how the city is positioning itself to take advantage of them.
cities_df[(cities_df['Question Number'] == '5.0a') & (cities_df['Column Number'] == 1)][['Organization','Response Answer']].groupby('Response Answer').count().sort_values('Organization',ascending=False)

                                                    Organization
Response Answer
Increased attention to other environmental conc...           125
Increased infrastructure investment                          125
Development of energy efficiency measures and t...           120
Additional funding opportunities                             103
Improved efficiency of operations                            103
...                                                          ...
Other: Educación: Implementación de Espacios                   1
Other: Educación: Programa de Voluntariado                     1
Other: En el plan integral de gestión de cambio                1
Other: Ensure a strong, efficient, accessible, ...             1
Other: sustainable development                                 1

[65 rows x 1 columns]

In [23]:
# 5.1 Does your city collaborate in voluntary partnership with businesses in your city on sustainability projects?
cities_df[(cities_df['Question Number'] == '5.1') & (cities_df['Response Answer'] == 'Yes')][['Organization']].count()

Organization    301
dtype: int64

In [24]:
# 5.1a Please provide some key examples of how your city collaborates with business in the table below.
cities_df[(cities_df['Question Number'] == '5.1a') & (cities_df['Column Number'] == 1)][['Organization','Response Answer']].groupby('Response Answer').count().sort_values('Organization',ascending=False)

                                               Organization
Response Answer
Energy                                                  127
Waste                                                    70
Transport                                                69
Buildings                                                67
Water                                                    46
...                                                     ...
Other: Compensações Ambientais                            1
Other: Compensación de huella de carbono                  1
Other: Community/Energy/Water/Transport/Waste             1
Other: Community Tree Planting Initiatives                1
Other: GHG estimation                                     1

[99 rows x 1 columns]

<span style="color:red">This could be interesting in matching up with corporations based on industry...</span>

In [25]:
# 5.2 List any emission reduction, adaptation, water related or resilience projects you have planned within your city for which you hope to attract financing, and provide details on the
cities_df_5_2 = cities_df[cities_df['Question Number'] == '5.2']
cities_df_5_2 = cities_df_5_2[cities_df_5_2['Response Answer'].notnull()]

cities_df_5_2 = cities_df_5_2.pivot_table(index=['Account Number', 'Organization', 'Row Number'],
                                     columns='Column Name', 
                                     values='Response Answer',
                                     aggfunc=lambda x: ' '.join(x)).reset_index()
cities_df_5_2.head()

Column Name,Account Number,Organization,Row Number,Project area,Project description,Status of financing,Status of project,Total cost of project,Total investment cost needed (if relevant)
0,1093,City of Atlanta,1,Energy efficiency / retrofit,The City of Atlanta commercial buildings energ...,Project fully funded,Implementation,NaN,NaN
1,1093,City of Atlanta,2,Infrastructure improvement,Renew Atlanta is an infrastructure improvement...,Project fully funded,Implementation,250000000,NaN
2,1184,City of Austin,1,None,NaN,NaN,NaN,NaN,NaN
3,1499,Ajuntament de Barcelona,1,Energy efficiency / retrofit,Subsidies for energy retrofitting. 1€ out of 3...,Project partially funded and seeking additiona...,Operation,3500000,NaN
4,1499,Ajuntament de Barcelona,2,Renewable energy,A solar impulse programme is set between 2017 ...,Project partially funded and seeking additiona...,Operation,17300000,NaN

In [26]:
# 5.2 List any emission reduction, adaptation, water related or resilience projects you have planned within your city for which you hope to attract financing, and provide details on the

cities_df[(cities_df['Question Number'] == '5.2') & (cities_df['Column Number'] == 1)][['Organization','Response Answer']].groupby('Response Answer').count().sort_values('Organization',ascending=False)

                                                Organization
Response Answer
Transport                                                136
Renewable energy                                         130
Energy efficiency / retrofit                             118
Waste management                                          97
Infrastructure improvement                                77
...                                                      ...
Other: Livable Nashville & Resilience Plan                 1
Other: Linear parks                                        1
Other: LIFE-RETIDE Helping Tide to Trigger the             1
Other: IoT                                                 1
Other: Parques lineales/fluviales                          1

[85 rows x 1 columns]

<span style="color:red">Something randomly thought of, could be interesting to match up projects from this question with hazards the city is facing as a way to generate project ideas?? Also projects partially funded match with corporations in that industry</span>

### Local Government Emissions

In [29]:
#6.0 Do you have an emissions inventory for your local government operations to report?
cities_df[(cities_df['Question Number'] == '6.0') & (cities_df['Column Number'] == 0)][['Organization','Response Answer']].groupby('Response Answer').count().sort_values('Organization',ascending=False)

                            Organization
Response Answer
Yes                                  243
No                                   141
In progress                           56
Not intending to undertake             5